.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #121212;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  

  &__left{
    img{
      width: 150px;
    }
  }

  &__right{
    ul{
      display: flex;
      list-style-type: none;
      margin-right: 50px;

      a{
        margin-right: 10px;
        color: #ADB7C4;
        text-decoration: none;
        transition: all 0.5s ease-in;

        &:hover{
          color: #FE014F;
          cursor: pointer;
        }
      }

    }
  }
}